@typeparam Titem

@if (MyList is null)
{
    @if (Loading is null)
    {
        <div class="d-flex justify-content-center align-items-center">
            <img src="https://media1.giphy.com/media/v1.Y2lkPTZjMDliOTUyYjB0YTF1NXRnazBoeGczdzJvOWNtamZ6YzlldG54anE5enB2amVudiZlcD12MV9zdGlja2Vyc19zZWFyY2gmY3Q9cw/L05HgB2h6qICDs5Sms/200.gif" width="200" height="200" />
        </div>
    }
    else
    {
        @Loading
    }
} else if (MyList.Count == 0)
{
    @if (NoRecords is null)
    {
        <p>@Localizer["NoRecords"]...</p>
    }
    else
    {
        @NoRecords
    }
}
else
{
    @Body    
}


